.loader {
  animation: x 1s linear infinite alternate;
}

@keyframes x {
  to {
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .loader {
    background-size: contain;
    background-repeat: repeat-y;
  }
}
